<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="static/style2.css"> <!-- Alterado o nome do arquivo CSS -->
</head>
<body>
    <div class="container">
        <h3>Bem-vindo ao Menu</h3>
        <div class="chart-options">
            <input type="submit" name="submit" value="Gerar Gráfico (PIB por municípios)" onclick="window.location.href='/pibpormunicipios';">
        </div>
        <div class="chart-options">
            <input type="submit" name="submit" value="Gerar Gráfico (Matrículas realizadas nas escolas da PB)" onclick="window.location.href='/grafmatriculaspb';">
        </div>
        <div class="chart-options">
            <input type="submit" name="submit" value="Gerar Gráfico (Matriz Correlação de dados)" onclick="window.location.href='/grafcorrindicadores';">
        </div>
        <div class="chart-options">
            <input type="submit" name="submit" value="Gerar Gráfico (Distribuição do PIB por Municípios)" onclick="window.location.href='/grafdistribuicaopib';">
        </div>
    </div>
</body>
</html>
