<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evolução do PIB da Paraíba</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <form action="/pibpormunicipios" method="post">
        <label for="num_municipios">Quantidade de municípios a serem exibidos:</label>
        <div class="input-container">
            <input type="number" id="num_municipios" name="num_municipios" value="5" min="1">
            <input type="submit" value="Visualizar">
        </div>
    </form>
    {{ grafico1|safe }}
</body>
</html>
